.App {
        font-family: sans-serif;
        text-align: center;
      }

      .fade-in-section {
        opacity: 0;
        transform: translateY(20vh);
        visibility: hidden;
        transition: opacity 1200ms ease-out, transform 600ms ease-out,
          visibility 1200ms ease-out;
        will-change: opacity, transform, visibility;
      }
      .fade-in-section.is-visible {
        opacity: 1;
        transform: none;
        visibility: visible;
      }

      /* Just for presentational purposes, please disregard in your own implementation */
      .App {
        max-width: 100%;
        padding: 1px;
      }

      .box {
        padding: 1px;
        margin: 1px 0;
      }

      .box-img {
        width: 100%;
        height: auto;
      }

      .box span {
        background-color: rgba(255, 255, 255, 0.5);
        display: inline-block;
        padding: 1px;
        border-radius: 1px;
      }

      html {
        box-sizing: border-box;
      }
      * {
        box-sizing: inherit;
      }
